/* Style sheet */

/* Body Formatting */

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    border: 0px;
    font-family: 'Roboto', 'sans-serif';
}


/* Section Formatting */
.header, .header-links, .s1, .s2, .link-gallery, .s3, .s4, .s4-container {
    display: flex;
}

.header {
    justify-content: space-between; 
    align-items: center;
    padding: 0px 60px;
}

.header-links {
    align-items: center;
    gap: 40px;
}

.s1 {
    flex-wrap: wrap;
    padding: 60px 60px;
    justify-content: space-evenly;
    gap: 20px;
}

.s1-text {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    justify-content: center;
}

.s1-photo {
    display: flex;
    align-items: center;
}

.s2 {
    flex-direction: column;
    padding: 60px;
    gap: 40px;
}

.s2-header {
    text-align: center;
}

.link-gallery {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.s3 {
    height: 400px;
    padding: 60px;
    flex: 1;
    justify-content: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 750px;
    gap: 20px;
}

.quote-source {
    text-align: right;
}

.s4 {
    justify-content: center;
    padding: 60px;
}

.s4-container {
    align-items: center;
    width: 750px;
    padding: 40px 20px;
    border-radius: 10px;
    justify-content: space-evenly;
}

.s4-container-text {
    flex-wrap: wrap;
    width: 550px;
}

.footer {
    padding: 40px;
    text-align: center;
}

/* Font and Background Formatting */

.wtft {
    color: #F9FAF8;
}

.greyft {
    color: #E5E7EB;
}

.darkft {
    color: #1F2937;
}

.bgdark {
    background-color: #1F2937;
    border-color: #1F2937;
}

.bggrey {
    background-color: #E5E7EB;
}

.bgblue {
    background-color: #3882F6;
}

.bold {
    font-weight: 700;
}

.extrabold {
    font-weight:800
}

.thin {
    font-weight: 100;
}

.italic {
    font-style: italic;
}

.hugetxt {
    font-size: 48px;
}

.largetxt {
    font-size: 36px;
}

.mediumtxt {
    font-size: 26px;
}

.smalltxt {
    font-size: 18px;
}

/* Photo Formatting */

.main-picture {
    border-radius: 10px;
    width: 500px;
    height: 300px;
    object-fit: cover;

}

.img-link {
    border-radius: 10px;
    border-color: #3882F6;
    width: 250px;
    height: 250px;
    object-fit: cover;
}




/* Item formatting */

.button {
    border-radius: 5px;
    border-color: #3882F6;
    border-style: solid;
    background-color: #3882F6;
    padding: 5px 15px;
    height: 35px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

.button2 {
    border-color: #F9FAF8;
    
}

a:link, a:visited {
    color: #E5E7EB;
    text-decoration: none;
  }
  
 a:hover, a:active {
    color: #E5E7EB
  }

.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    text-align: center;
}

.img-link-txt {
  padding: 1em;
}

  